.score-card-image-container {
  background-color: #ffffff33;
  border: 1px solid #ffffff33;
  width: 70%;
  height: 70%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.score-summary-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.win-or-loss-image {
  width: 30%;
}

.game-status {
  color: #ffffff;
  font-family: 'Roboto';
}

.play-again-button {
  background-color: #ffce27;
  font-family: 'Roboto';
  font-weight: 600;
  color: black;
  cursor: pointer;
  outline: none;
  border-radius: 6px;
  border-width: 0px;
  padding: 10px;
}

.score-display {
  color: #6a59ff;
  font-family: 'Roboto';
  font-weight: 800;
  font-size: 24px;
  margin: 0px;
  margin-bottom: 20px;
}

.score-status {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 800;
  font-size: 30px;
}

@media screen and (max-width: 567px) {
  .score-card-image-container {
    width: 90%;
    height: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .win-or-loss-image {
    order: -1;
  }
  .score-summary-section {
    margin-top: 0px;
  }
}
